<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>入力画面</title>
</head>
<body>
  <h1>NoDiパターン</h1>
  <!-- thタグはthymeleafなのでデザインを崩さない -->
  <form method="POST" action="output.html" th:action="@{output}">
    <p>社員NOを入れてください（3桁の半角数字)</p>
    <input type="text" name="number">
    <input type="submit" value="送信">
  </form>
</body>
</html>
